$colors = {
  white: #FFF
  grey: rgba(102,102,102,0.9)
  grey--light: #DDD
  black: #000
  blue--1: #1D3E53
  blue--2: #254B62
  blue--3: #476D7C
  blue--4: #77ABB7
  // spectre
  primary: #5755d9
  secondary: #f1f1fc
  success: #32b643
  warning: #ffb700
  error: #e85600
  dark: #454d5d
  gray-dark: #727e96
  gray: #acb3c2
  gray-light: #e7e9ed
  border: #f0f1f4
  background: #f8f9fa
  light: #fff
}
