// styles of poor quality or temporary usage may go here, to be cleaned up at a later point
.item-container
  border: 1px solid $colors.gray
  border-radius .1rem

.card
  border-top none !important
  border-left none !important
  border-right none !important

.tags-container .btn
  margin 0 2px 3px 0px
